{
	"display": "true", 
	"input_video": "sample2.mp4",
	"min_confidence": "0.3", 
	"detection_threshold": "0.8",
	"f_model": "networks/mars-small128.pb", 
	"d_model": "networks/ssd_mobilenet_v1_coco_2017_11_17/ssd_mobilenet_v1_coco_2017_11_17.pb",
	"networks_path": "networks/",
	"nn_budget": "100", 
	"record_video": "x.avi" 
}