{
	"mode": "online",
	"model": "./resources/networks/mars-small128.pb",
	"mot_dir": "./MOT16/train",
	"output_dir": "./resources/detections/MOT16_train",
	"sequence_dir": "./MOT16/train/MOT16-13",
	"detection_file": "./resources/detections/MOT16_train/MOT16-13.npy",
	"output_file": "./resources/detections/MOT16_records/MOT16-13.txt",
	"min_confidence": "0.3",
	"nn_budget": "100",
	"display": "True",
	"record_file": "x.avi"

}
