{
	"input_video": "sample.mp4",
	"display": "false", 
	"min_confidence": "0.3", 
	"detection_threshold": "0.8",
	"f_model": "networks/mars-small128.pb", 
	"d_model": "networks/ssd_mobilenet_v1_coco_2017_11_17/frozen_inference_graph.pb",
	"networks_path": "networks/",
	"frame_rate": 12,
	"nn_budget": "100", 
	"record_video": "x.avi" 
}